.sd[data-s-66beaa44-1359-46fe-9cc6-6b7285cbc3be] {
            color: #333;
            font-family: var(--s-font-a5950c79);
            font-size: 14px;
            font-weight: 600;
            height: auto;
            line-height: 1.4;
            text-align: left;
            width: auto;
            max-width: 100%;
            justify-content: flex-start;
          }
.sd[data-s-81e32956-a9a5-450e-87e5-1912d5f42945] {
            color: #333;
            font-family: var(--s-font-a5950c79);
            font-size: 14px;
            font-weight: 600;
            height: auto;
            line-height: 1.4;
            text-align: left;
            width: auto;
            max-width: 100%;
            justify-content: flex-start;
          }
.sd[data-s-e178ee48-8c84-417f-8cae-5bb87d6c5e4b] {
            color: #333;
            font-family: var(--s-font-a5950c79);
            font-size: 14px;
            font-weight: 600;
            height: auto;
            line-height: 1.4;
            text-align: left;
            width: auto;
            max-width: 100%;
            justify-content: flex-start;
          }
.sd[data-s-673c2f69-7ad3-48a3-aac0-bca2a442bf85] {
            color: #333;
            font-family: var(--s-font-a5950c79);
            font-size: 14px;
            font-weight: 600;
            height: auto;
            line-height: 1.4;
            text-align: left;
            width: auto;
            max-width: 100%;
            justify-content: flex-start;
          }